
  <% @furniture.each_slice(3) do |furniture| %>
            <div class="row">
  <% furniture.each do |item| %>
  <div class="col-xs-4 col-sm-4 col-md-4">
    <div class ="item-container">
    <%= image_tag(item.img_name, class: 'list_image img-responsive  ', size: '260x320') %>
      <% item.clearancecheck %>
    <% if item.clearance ==true %>
    <%= number_to_currency(item.clearanceprice)%>
    <i> clearance item</i>
    <% else %>
    <%= number_to_currency(item.price) %>
    <% end %>
    <p class="listp"><%=item.item%></p>
    <i class = "btn btn-default pull-right"><%= link_to "More info", "/furniture/#{item.id}"%></i>
</div>
</div>
  <%end %>
</div>
<%end%>
</div>
